.hobbies {
  background-color: white;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 425px) {
  .hobbies {
    width: 100%;
    height: 100%;
padding: 1em
  }
  .hobbies h1 {
    font-size: 2em;
    width: 100%;
    /* height: 100%; */
/* padding: 1em */
  }
}
